Submechanophobia/Saved/AutoScreenshot.png
Submechanophobia/Intermediate/ProjectFiles/UECommon.props
*.props
*.filters
*.ini
*.log
*.json
*.target
*.pdb
*.bin
*.uhtpath
*.pdb
/Submechanophobia/Saved/Logs
/Submechanophobia/Saved
Submechanophobia/.vs/ProjectEvaluation/submechanophobia.metadata.v9.bin
*.bin
*.json
*.log
*.ini
*.ini
